{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Maquetador Web GCBA</h1>
    <p class="lead"> Desarrollador Web de interfaz de usuarios en Gobierno de la Ciudad de Buenos Aires. <br>
        Tareas: <br>
        - Desarrollo Mobile del Portal de Pagos Mobile (Proyecto BaPagos).<br>
        - Analista UX de las interfaces apuntadas al Ciudadano.<br>
        - Analista UX de BackOffice apuntado al Usuario interno.<br>
        - Actualmente desarrollando en React Native & React.js<br></p>
    <hr class="my-4">
    <p>Trabajando Actualmente en el equipo de Software Factory SIR(Sistema Integral De Recaudaciones)</p>
    <p>Gobierno De La Ciudad De Buenos Aires</p>
</div>
<div class="jumbotron">
    <h1 class="display-4">Desarrollador Freelance</h1><br>
    <p class="lead">Turnisimo S.A</p>
    <p class="lead">Como desarrollador freelance uno de los proyectos que lleve a cabo 
        fue la creacion de una web con wordpress para la gestion de turnos online. 
        Para la que posteriormente realice el sistema llamado Turnisimo el cual hoy se encuentra
        productivo en varios comercios uno de ellos es Glam Peluqueria.</p>
    <hr class="my-4">
    <p> Este fue desarrollado en PHP & MySQL con una herramienta llamada Scriptcase 9 </p>
</div>
{% endblock %}
