{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1 class="display-4"> Todo Sobre Programacion Web </h1>
    <p class="lead"> desarrollo web con python y flask </p>
    <hr class="my-4">
    <p> CSS,BOOSTRAP,FLASK,PYTHON</p>
</div>
<div class="jumbotron">
    <h1 class="display-4"> Todo Sobre Programacion Web </h1>
    <p class="lead"> desarrollo web con python y flask </p>
    <hr class="my-4">
    <p> CSS,BOOSTRAP,FLASK,PYTHON</p>
</div>
{% endblock %}