{% extends "layout.html" %}

{% block content %}
<!--Contenido-->
<div class="carta">
    <h2>Lorem, ipsum.</h2>
    <p>
        <img src="../static/image/fondoPC.jpg" alt="fondoPC"  ALIGN=LEFT style="width: 30%;"> temporibus est facilis distinctio. Tenetur cumque pariatur minus neque laboriosam, reprehenderit id deserunt alias optio nostrum recusandae,
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut assumenda omnis animi temporibus, 
        illum rerum laudantium explicabo. Facere nesciunt ipsa ex eligendi enim eum ratione, exercitationem nam hic quod iusto id magni 
        blanditiis excepturi reiciendis veniam quae. Porro fugiat soluta quo maxime magnam recusandae possimus quidem eius, maiores quasi, modi, est laboriosam 
        vero repudiandae. A nobis iure sunt tenetur ducimus, minima ad pariatur eos ipsum, quam inventore saepe molestias, 
        corrupti recusandae ea voluptates itaque hic. Excepturi corporis numquam harum ducimus sequi non iusto.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut assumenda omnis animi temporibus, 
        illum rerum laudantium explicabo. Facere nesciunt ipsa ex eligendi enim eum ratione, exercitationem nam hic quod iusto id magni 
        temporibus est facilis distinctio. Tenetur cumque pariatur minus neque laboriosam, reprehenderit id deserunt alias optio nostrum recusandae,
        blanditiis excepturi reiciendis veniam quae. Porro fugiat soluta quo maxime magnam recusandae possimus quidem eius, maiores quasi, modi, est laboriosam 
        vero repudiandae. A nobis iure sunt tenetur ducimus, minima ad pariatur eos ipsum, quam inventore saepe molestias, 
        corrupti recusandae ea voluptates itaque hic. Excepturi corporis numquam harum ducimus sequi non iusto.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut assumenda omnis animi temporibus, 
        illum rerum laudantium explicabo. Facere nesciunt ipsa ex eligendi enim eum ratione, exercitationem nam hic quod iusto id magni 
        temporibus est facilis distinctio. Tenetur cumque pariatur minus neque laboriosam, reprehenderit id deserunt alias optio nostrum recusandae,
        blanditiis excepturi reiciendis veniam quae. Porro fugiat soluta quo maxime magnam recusandae possimus quidem eius, maiores quasi, modi, est laboriosam 
        vero repudiandae. A nobis iure sunt tenetur ducimus, minima ad pariatur eos ipsum, quam inventore saepe molestias, 
        corrupti recusandae ea voluptates itaque hic. Excepturi corporis numquam harum ducimus sequi non iusto.
    </p>
</div>
{% endblock %}