{% extends "layout.html" %}

{% block content %}
<h1 class="Titulo" > Formulario </h1>

<body>

  <form action="/add_Contact" method="POST" class="form">
    <h2 class="h2">CONTACTO</h2>
    <p><input name="Nombre" class="input" placeholder="Ingrese su Nombre"></input></p>
    <p><input name="Email" class="input" placeholder="Ingrese su Email"></input></p>
    <p><input name="Mensaje" class="input" placeholder="Ingrese Mensaje"></input></p>
    <button onclick="alerta()" type="submit" class="button">Enviar</button>
    <script>
      function alerta()
      {
        alert("Enviado Con Exito");
      }
    </script>

    <div class="div">
      <span class="span" class="fa fa-phone">

      </span> TEL:1568940444 <span class="fa fa-envelope-o">

      </span>
      pruebas.sistemas.jm@gmail.com
    </div>
  </form>


</body>
{% endblock %}