  
{% extends "layout.html" %}

{% block content %}
<h1 class="Titulo" > Formulario De Contacto </h1>

<body>

  <form action="/add_Contact" method="POST" class="form">
    <h2 class="h2">CONTACTO</h2>
    <p><input name="Nombre" class="input" placeholder="Ingrese su Nombre"></input></p>
    <p><input name="Email" class="input" placeholder="Ingrese su Email"></input></p>
    <p><input name="Mensaje" class="input" placeholder="Ingrese Mensaje"></input></p>

    <button type="submit" class="button">Enviar</button>

    <div class="div">
      <span class="span" class="fa fa-phone">

      </span> TEL:1568940444 <span class="fa fa-envelope-o">

      </span>
      juanmanuelchico@hotmail.com
    </div>

  </form>


</body>
{% endblock %}