{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Carta De Presentacion</h1><br>
    <br>
    <p class="lead">En esta carta de presentacion mi idea es contar rapidamente mi iniciativa por incorporarme al mundo del desarrollo. <br>
        Me considero una persona altamente activa, con la que se puede contar constantemente para encarar desafios y proyectos
        de gran magnitud, tambien una persona de aprendisaje rapido, que se enucuentra en constante capacitacion de manera autonoma
        lo que agilisa en gran mediad el crecimiento tanto de los proyectos como de los equipos. Esta ultima es una de las caracteristicas que
        mas me gusta, dado que me pone en constante movimiento y crecimiento personal.</p>
        <br>
    <hr class="my-4">
    <p>Juan Manuel Chico - Desarrollador Web</p>
    <p>Estudiante de la Universidad Tecnologica Nacional</p>
    <a class="boton" href="http://flask.pocoo.org/" target="_blank" role="button">Leer Mas</a>
</div>

{% endblock %}