<!DOCTYPE html>
<html lang="es">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="static/image/favicom2.png">
    <title>Juan Manuel Chico</title>
    <!---BOOSTRAP 4-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--CUSTOM CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Juan Manuel Chico</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Inicio</a>
                <a class="nav-item nav-link" href="{{ url_for('about') }}">Acerca De Mi</a>
                <a class="nav-item nav-link" href="{{ url_for('Contact') }}">Contacto</a>
            </div>
        </div>
    </nav>
<div class="container p-4">
        {% block content %}

        {% endblock %}
</div>

<footer>
    <a id="whatsapp" href="https://api.whatsapp.com/send?phone=5491168940444"><img src="../static/image/whatsapp.png"></a>
    <div class="contenedor">
        <div class="redes">
            <a href="https://www.facebook.com/juanmanuel.chico.1" target="blank"><img src="../static/image/facebook.ico" alt="facebook"></a>
            <a href="https://www.instagram.com/juanmachico/" target="blank"><img src="../static/image/instagram.ico" alt="instagram"></a>
            <a href="https://twitter.com/juanmachicco" target="blank"><img src="../static/image/twitter.ico" alt="twitter"></a>
            <a href="https://github.com/JuanMaChico" target="blank"><img src="../static/image/github.ico" alt="github"></a>
        </div>
        <div class="parrafo"><p> © 2020 Juan Manuel Chico | Diseñadores Web Argentina. Todos los derechos reservados</p></div>
    </div>
</footer>

</body>
</html>